In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

Data Reading

In [2]:
df=pd.read_csv(r"C:\Users\nevta\Desktop\flo\FLOMusteriSegmentasyonu\flo_data_20k.csv")

In [3]:
df_=df.copy()

In [4]:
df.head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN]
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]"
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,395.35,"[ERKEK, KADIN]"
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,81.98,"[AKTIFCOCUK, COCUK]"
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,159.99,[AKTIFSPOR]
5,e585280e-aae1-11e9-a2fc-000d3a38a36f,Desktop,Offline,2018-11-18,2021-03-13,2018-11-18,2021-03-13,1.0,2.0,150.87,49.99,[KADIN]
6,c445e4ee-6242-11ea-9d1a-000d3a38a36f,Android App,Android App,2020-03-04,2020-10-18,2020-10-18,2020-03-04,3.0,1.0,59.99,315.94,[AKTIFSPOR]
7,3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f,Mobile,Offline,2020-05-15,2020-08-12,2020-05-15,2020-08-12,1.0,1.0,49.99,113.64,[COCUK]
8,cfbda69e-5b4f-11ea-aca7-000d3a38a36f,Android App,Android App,2020-01-23,2021-03-07,2021-03-07,2020-01-25,3.0,2.0,120.48,934.21,"[ERKEK, COCUK, KADIN]"
9,1143f032-440d-11ea-8b43-000d3a38a36f,Mobile,Mobile,2019-07-30,2020-10-04,2020-10-04,2019-07-30,1.0,1.0,69.98,95.98,"[KADIN, AKTIFSPOR]"

In [5]:
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline',
       'order_num_total_ever_online', 'order_num_total_ever_offline',
       'customer_value_total_ever_offline', 'customer_value_total_ever_online',
       'interested_in_categories_12'],
      dtype='object')

In [6]:
df.describe()

,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online
count,19945.000000,19945.000000,19945.000000,19945.000000
mean,3.110855,1.913913,253.922597,497.321690
std,4.225647,2.062880,301.532853,832.601886
min,1.000000,1.000000,10.000000,12.990000
25%,1.000000,1.000000,99.990000,149.980000
50%,2.000000,1.000000,179.980000,286.460000
75%,4.000000,2.000000,319.970000,578.440000
max,200.000000,109.000000,18119.140000,45220.130000

In [7]:
df.sort_values(by='master_id')

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
17817,00016786-2f5a-11ea-bb80-000d3a38a36f,Mobile,Mobile,2019-11-19,2021-05-22,2021-05-22,2020-10-05,2.0,3.0,427.19,348.88,"[ERKEK, COCUK, AKTIFSPOR]"
6657,00034aaa-a838-11e9-a2fc-000d3a38a36f,Desktop,Offline,2015-11-09,2020-08-07,2015-11-09,2020-08-07,1.0,2.0,150.48,118.99,"[ERKEK, KADIN]"
6199,000be838-85df-11ea-a90b-000d3a38a36f,Android App,Offline,2020-04-16,2020-10-31,2020-04-23,2020-10-31,3.0,1.0,365.72,356.97,"[AKTIFCOCUK, AKTIFSPOR]"
9831,000c1fe2-a8b7-11ea-8479-000d3a38a36f,Android App,Android App,2020-06-07,2021-05-05,2021-05-05,2021-01-29,3.0,4.0,531.19,342.97,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]"
17090,000f5e3e-9dde-11ea-80cd-000d3a38a36f,Android App,Android App,2020-07-13,2021-05-12,2021-05-12,2021-03-13,5.0,2.0,299.98,1320.35,"[ERKEK, AKTIFSPOR]"
...,...,...,...,...,...,...,...,...,...,...,...,...
10918,fff1db94-afd9-11ea-b736-000d3a38a36f,Android App,Android App,2019-04-12,2020-11-30,2020-11-30,2020-06-16,1.0,4.0,516.95,279.92,[AKTIFSPOR]
18237,fff4736a-60a4-11ea-8dd8-000d3a38a36f,Ios App,Offline,2020-05-03,2021-03-26,2020-05-03,2021-03-26,1.0,1.0,150.88,167.99,[]
19048,fffacd34-ae14-11e9-a2fc-000d3a38a36f,Ios App,Ios App,2018-10-14,2020-09-17,2020-09-17,2019-02-27,5.0,1.0,59.98,923.94,[ERKEK]
14045,fffacecc-ddc3-11e9-a848-000d3a38a36f,Android App,Android App,2019-09-20,2021-01-20,2021-01-20,2020-02-14,5.0,4.0,479.41,882.79,"[COCUK, KADIN, AKTIFSPOR]"
19185,fffe4b30-18e0-11ea-9213-000d3a38a36f,Android App,Android App,2019-11-24,2020-07-15,2020-07-15,2020-06-26,2.0,2.0,255.46,269.23,"[ERKEK, KADIN]"

Data Preprocessing

In [8]:
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [10]:
df["order_num_total"]=df["order_num_total_ever_offline"]+df["order_num_total_ever_online"]
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline',
       'order_num_total_ever_online', 'order_num_total_ever_offline',
       'customer_value_total_ever_offline', 'customer_value_total_ever_online',
       'interested_in_categories_12', 'order_num_total'],
      dtype='object')

In [11]:
df["customer_value_total"]=df["customer_value_total_ever_offline"]+df["customer_value_total_ever_online"]
df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN],5.0,939.37
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.0,2013.55
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,395.35,"[ERKEK, KADIN]",5.0,585.32
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,81.98,"[AKTIFCOCUK, COCUK]",2.0,121.97
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,159.99,[AKTIFSPOR],2.0,209.98

In [12]:
columns=['first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline']
for i in columns:
    df[i]=pd.to_datetime(df[i])


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  order_num_total                    19945 non-null  float64
 13  customer_value_total               19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

In [13]:
df[["customer_value_total","order_num_total"]].describe()

       customer_value_total  order_num_total
count          19945.000000     19945.000000
mean             751.244287         5.024768
std              895.402173         4.742707
min               44.980000         2.000000
25%              339.980000         3.000000
50%              545.270000         4.000000
75%              897.780000         6.000000
max            45905.100000       202.000000

In [14]:
df.sort_values(by="customer_value_total",ascending=False).head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.0,2.0,684.97,45220.13,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.0,45905.10
4315,d5ef8058-a5c6-11e9-a2fc-000d3a38a36f,Android App,Android App,2018-08-06,2021-02-23,2021-02-23,2020-07-06,67.0,1.0,130.49,36687.80,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",68.0,36818.29
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81.0,1.0,1263.76,32654.34,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82.0,33918.10
13880,7137a5c0-7aad-11ea-8f20-000d3a38a36f,Ios App,Offline,2021-03-01,2021-04-13,2021-03-18,2021-04-13,10.0,1.0,538.94,30688.47,"[ERKEK, KADIN, AKTIFSPOR]",11.0,31227.41
9055,47a642fe-975b-11eb-8c2a-000d3a38a36f,Android App,Offline,2021-04-07,2021-04-27,2021-04-07,2021-04-27,1.0,3.0,18119.14,2587.20,[AKTIFSPOR],4.0,20706.34
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66.0,4.0,843.68,17599.89,"[ERKEK, KADIN, AKTIFSPOR]",70.0,18443.57
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69.0,1.0,82.48,16836.09,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70.0,16918.57
163,fef57ffa-aae6-11e9-a2fc-000d3a38a36f,Mobile,Desktop,2016-11-08,2021-05-12,2021-05-12,2020-07-09,36.0,1.0,180.73,12545.37,"[ERKEK, AKTIFSPOR]",37.0,12726.10
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130.0,1.0,49.99,12232.25,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131.0,12282.24
18767,fc0ce7a4-9d87-11e9-9897-000d3a38a36f,Desktop,Desktop,2018-11-24,2020-11-11,2020-11-11,2019-12-06,18.0,2.0,64.97,12038.18,"[ERKEK, KADIN]",20.0,12103.15

In [15]:
df.sort_values(by="order_num_total",ascending=False).head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.0,2.0,684.97,45220.13,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.0,45905.10
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130.0,1.0,49.99,12232.25,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131.0,12282.24
8783,a57f4302-b1a8-11e9-89fa-000d3a38a36f,Android App,Offline,2019-08-07,2020-11-04,2020-09-07,2020-11-04,2.0,109.0,10239.46,143.98,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",111.0,10383.44
2619,fdbe8304-a7ab-11e9-a2fc-000d3a38a36f,Android App,Offline,2018-10-18,2020-06-30,2018-10-18,2020-06-30,1.0,87.0,8432.25,139.98,[ERKEK],88.0,8572.23
6322,329968c6-a0e2-11e9-a2fc-000d3a38a36f,Ios App,Ios App,2019-02-14,2021-04-05,2021-04-05,2020-02-17,2.0,81.0,3997.55,242.81,[ERKEK],83.0,4240.36
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81.0,1.0,1263.76,32654.34,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82.0,33918.10
9347,44d032ee-a0d4-11e9-a2fc-000d3a38a36f,Mobile,Mobile,2019-02-11,2021-02-11,2021-02-11,2020-12-24,3.0,74.0,4640.77,543.28,"[KADIN, AKTIFSPOR]",77.0,5184.05
10954,b27e241a-a901-11e9-a2fc-000d3a38a36f,Mobile,Mobile,2015-09-12,2021-04-01,2021-04-01,2019-10-08,72.0,3.0,292.93,5004.95,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",75.0,5297.88
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69.0,1.0,82.48,16836.09,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70.0,16918.57
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66.0,4.0,843.68,17599.89,"[ERKEK, KADIN, AKTIFSPOR]",70.0,18443.57

Preprocess Function

In [16]:
def pre_process(df):
    ##creating total value
    df["order_num_total"]=df["order_num_total_ever_offline"]+df["order_num_total_ever_online"]
    df["customer_value_total"]=df["customer_value_total_ever_offline"]+df["customer_value_total_ever_online"]
    
    ##converting date columns and sorting for output
    columns=['first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline']
    for i in columns:
        df[i]=pd.to_datetime(df[i])
    print(df.sort_values(by="customer_value_total",ascending=False).head(10))
    print(df.sort_values(by="order_num_total",ascending=False).head(10))

In [17]:
pre_process(df_)

                                  master_id order_channel last_order_channel  \
11150  5d1c466a-9cfd-11e9-9897-000d3a38a36f   Android App            Desktop
4315   d5ef8058-a5c6-11e9-a2fc-000d3a38a36f   Android App        Android App
7613   73fd19aa-9e37-11e9-9897-000d3a38a36f       Ios App            Offline
13880  7137a5c0-7aad-11ea-8f20-000d3a38a36f       Ios App            Offline
9055   47a642fe-975b-11eb-8c2a-000d3a38a36f   Android App            Offline
7330   a4d534a2-5b1b-11eb-8dbd-000d3a38a36f       Desktop            Desktop
8068   d696c654-2633-11ea-8e1c-000d3a38a36f       Ios App            Ios App
163    fef57ffa-aae6-11e9-a2fc-000d3a38a36f        Mobile            Desktop
7223   cba59206-9dd1-11e9-9897-000d3a38a36f   Android App        Android App
18767  fc0ce7a4-9d87-11e9-9897-000d3a38a36f       Desktop            Desktop

      first_order_date last_order_date last_order_date_online  \
11150       2013-10-11      2021-04-30             2021-04-30
4315        2018-08-06      2021-02-23             2021-02-23
7613        2014-01-14      2021-05-18             2021-01-30
13880       2021-03-01      2021-04-13             2021-03-18
9055        2021-04-07      2021-04-27             2021-04-07
7330        2020-02-16      2021-04-30             2021-04-30
8068        2017-05-10      2021-04-13             2021-04-13
163         2016-11-08      2021-05-12             2021-05-12
7223        2013-02-21      2021-05-09             2021-05-09
18767       2018-11-24      2020-11-11             2020-11-11

      last_order_date_offline  order_num_total_ever_online  \
11150              2020-12-24                        200.0
4315               2020-07-06                         67.0
7613               2021-05-18                         81.0
13880              2021-04-13                         10.0
9055               2021-04-27                          1.0
7330               2020-12-18                         66.0
8068               2019-08-15                         69.0
163                2020-07-09                         36.0
7223               2020-01-25                        130.0
18767              2019-12-06                         18.0

       order_num_total_ever_offline  customer_value_total_ever_offline  \
11150                           2.0                             684.97
4315                            1.0                             130.49
7613                            1.0                            1263.76
13880                           1.0                             538.94
9055                            3.0                           18119.14
7330                            4.0                             843.68
8068                            1.0                              82.48
163                             1.0                             180.73
7223                            1.0                              49.99
18767                           2.0                              64.97

       customer_value_total_ever_online  \
11150                          45220.13
4315                           36687.80
7613                           32654.34
13880                          30688.47
9055                            2587.20
7330                           17599.89
8068                           16836.09
163                            12545.37
7223                           12232.25
18767                          12038.18

                        interested_in_categories_12  order_num_total  \
11150  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]            202.0
4315          [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]             68.0
7613               [ERKEK, COCUK, KADIN, AKTIFSPOR]             82.0
13880                     [ERKEK, KADIN, AKTIFSPOR]             11.0
9055                                    [AKTIFSPOR]              4.0
7330                      [ERKEK, KADIN, AKTIFSPOR]             70.0
8068   [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]             70.0
163                              [ERKEK, AKTIFSPOR]             37.0
7223          [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]            131.0
18767                                [ERKEK, KADIN]             20.0

       customer_value_total
11150              45905.10
4315               36818.29
7613               33918.10
13880              31227.41
9055               20706.34
7330               18443.57
8068               16918.57
163                12726.10
7223               12282.24
18767              12103.15
                                  master_id order_channel last_order_channel  \
11150  5d1c466a-9cfd-11e9-9897-000d3a38a36f   Android App            Desktop
7223   cba59206-9dd1-11e9-9897-000d3a38a36f   Android App        Android App
8783   a57f4302-b1a8-11e9-89fa-000d3a38a36f   Android App            Offline
2619   fdbe8304-a7ab-11e9-a2fc-000d3a38a36f   Android App            Offline
6322   329968c6-a0e2-11e9-a2fc-000d3a38a36f       Ios App            Ios App
7613   73fd19aa-9e37-11e9-9897-000d3a38a36f       Ios App            Offline
9347   44d032ee-a0d4-11e9-a2fc-000d3a38a36f        Mobile             Mobile
10954  b27e241a-a901-11e9-a2fc-000d3a38a36f        Mobile             Mobile
8068   d696c654-2633-11ea-8e1c-000d3a38a36f       Ios App            Ios App
7330   a4d534a2-5b1b-11eb-8dbd-000d3a38a36f       Desktop            Desktop

      first_order_date last_order_date last_order_date_online  \
11150       2013-10-11      2021-04-30             2021-04-30
7223        2013-02-21      2021-05-09             2021-05-09
8783        2019-08-07      2020-11-04             2020-09-07
2619        2018-10-18      2020-06-30             2018-10-18
6322        2019-02-14      2021-04-05             2021-04-05
7613        2014-01-14      2021-05-18             2021-01-30
9347        2019-02-11      2021-02-11             2021-02-11
10954       2015-09-12      2021-04-01             2021-04-01
8068        2017-05-10      2021-04-13             2021-04-13
7330        2020-02-16      2021-04-30             2021-04-30

      last_order_date_offline  order_num_total_ever_online  \
11150              2020-12-24                        200.0
7223               2020-01-25                        130.0
8783               2020-11-04                          2.0
2619               2020-06-30                          1.0
6322               2020-02-17                          2.0
7613               2021-05-18                         81.0
9347               2020-12-24                          3.0
10954              2019-10-08                         72.0
8068               2019-08-15                         69.0
7330               2020-12-18                         66.0

       order_num_total_ever_offline  customer_value_total_ever_offline  \
11150                           2.0                             684.97
7223                            1.0                              49.99
8783                          109.0                           10239.46
2619                           87.0                            8432.25
6322                           81.0                            3997.55
7613                            1.0                            1263.76
9347                           74.0                            4640.77
10954                           3.0                             292.93
8068                            1.0                              82.48
7330                            4.0                             843.68

       customer_value_total_ever_online  \
11150                          45220.13
7223                           12232.25
8783                             143.98
2619                             139.98
6322                             242.81
7613                           32654.34
9347                             543.28
10954                           5004.95
8068                           16836.09
7330                           17599.89

                        interested_in_categories_12  order_num_total  \
11150  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]            202.0
7223          [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]            131.0
8783   [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]            111.0
2619                                        [ERKEK]             88.0
6322                                        [ERKEK]             83.0
7613               [ERKEK, COCUK, KADIN, AKTIFSPOR]             82.0
9347                             [KADIN, AKTIFSPOR]             77.0
10954         [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]             75.0
8068   [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]             70.0
7330                      [ERKEK, KADIN, AKTIFSPOR]             70.0

       customer_value_total
11150              45905.10
7223               12282.24
8783               10383.44
2619                8572.23
6322                4240.36
7613               33918.10
9347                5184.05
10954               5297.88
8068               16918.57
7330               18443.57

#### RFM
##### Recency is an indicator that shows what is the recent order of customers order.
##### Frequency is an indicator that shows how often customers make order.
##### Monetary is an indicator that shows monetary value from his/her order

In [18]:
import datetime as dt
max(df["last_order_date"])

Timestamp('2021-05-30 00:00:00')

In [23]:
now=dt.datetime(year=2021,month=6,day=1)
## now is a date that I have taken datasets for the project.
rfm=pd.DataFrame()
rfm["master_id"]=df["master_id"]

rfm["Recency"]=now-df["last_order_date"]
rfm["Recency"]=rfm["Recency"].dt.days
rfm["Recency"]=rfm["Recency"].astype("int")
rfm["Recency"]

0         95
1        105
2        186
3        135
4         86
        ...
19940    331
19941    161
19942      8
19943    108
19944    360
Name: Recency, Length: 19945, dtype: int32

In [24]:
rfm["Frequency"]=df["order_num_total"]
##frequency is an total order for a customer, so we have values
rfm["Monetary"]=df["customer_value_total"]
##Monetary also refers total customer value for total
rfm.head()

                              master_id  Recency  Frequency  Monetary
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95        5.0    939.37
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105       21.0   2013.55
2  69b69676-1a40-11ea-941b-000d3a38a36f      186        5.0    585.32
3  1854e56c-491f-11eb-806e-000d3a38a36f      135        2.0    121.97
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86        2.0    209.98

In [27]:
rfm["Recency"] = pd.qcut(rfm["Recency"], 5, labels=[5,4,3,2,1])
rfm["Recency"]

0        3
1        3
2        2
3        3
4        3
        ..
19940    1
19941    2
19942    5
19943    3
19944    1
Name: Recency, Length: 19945, dtype: category
Categories (5, int64): [5 < 4 < 3 < 2 < 1]

In [31]:
rfm["Frequency"] = pd.qcut(rfm["Frequency"].rank(method="first"), 5, labels=['1', '2', '3', '4','5'], )
rfm["Frequency"]

0        4
1        5
2        4
3        1
4        1
        ..
19940    3
19941    2
19942    3
19943    4
19944    2
Name: Frequency, Length: 19945, dtype: category
Categories (5, object): ['1' < '2' < '3' < '4' < '5']

In [29]:
rfm["Monetary"] = pd.qcut(rfm["Monetary"].rank(method="first"), 5, labels=['1', '2', '3', '4','5'], )
rfm["Monetary"]

0        4
1        5
2        3
3        1
4        1
        ..
19940    2
19941    2
19942    3
19943    4
19944    1
Name: Monetary, Length: 19945, dtype: category
Categories (5, object): ['1' < '2' < '3' < '4' < '5']

In [34]:
rfm.head(10)

                              master_id Recency Frequency Monetary
0  cc294636-19f0-11eb-8d74-000d3a38a36f       3         4        4
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f       3         5        5
2  69b69676-1a40-11ea-941b-000d3a38a36f       2         4        3
3  1854e56c-491f-11eb-806e-000d3a38a36f       3         1        1
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       3         1        1
5  e585280e-aae1-11e9-a2fc-000d3a38a36f       4         2        1
6  c445e4ee-6242-11ea-9d1a-000d3a38a36f       2         3        2
7  3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f       1         1        1
8  cfbda69e-5b4f-11ea-aca7-000d3a38a36f       3         4        5
9  1143f032-440d-11ea-8b43-000d3a38a36f       1         1        1

                                   master_id  Recency Frequency Monetary
count                                  19945    19945     19945    19945
unique                                 19945        5         5        5
top     cc294636-19f0-11eb-8d74-000d3a38a36f        5         1        1
freq                                       1     4111      3989     3989